<nav class="level">
  <div class="level-left">
    <p class="level-item"><%= link_to "All Customers", customers_path, class: "button is-link is-light" %></p>
    <p class="level-item"><%= link_to "Alphabetized", alphabetized_customers_path, class: "button is-link is-light" %></p>
    <p class="level-item"><%= link_to "Missing Email", missing_email_customers_path, class: "button is-link is-light" %></p>
  </div>
</nav>

<h1 class="title is-4">Customers Missing Email</h1>

<% @customers.each do |customer| %>
  <%= render partial: "customer", locals: { customer: customer } %>
<% end %>
